@model IEnumerable<TendaGo.Common.BrandDto>

<div class="table-responsive">
    <table id="brandsTable" class="table datatable table-bordered table-hover">
        <thead>
            <tr>
                <th width="35%">@Html.DisplayNameFor(model => model.Marca)</th>
                @*<th>@Html.DisplayNameFor(model => model.IdEstado)</th>*@
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                    <td>
                        @if (item.IdEstado == 1)
                        {
                            <span class="label label-outline label-success">Activo</span>
                        }
                        else
                        {
                            <span class="label label-outline label-danger">Inactivo</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm btn-icon icon-left" onclick="LoadFormMant('@item.Id');">
                            <i class="entypo-pencil"></i>Editar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>