
<figure class="shopping-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg" alt="sample57" />
    <figcaption>
        <h3>Pudol Doux</h3>
        <p>All this modern technology just makes people try to do everything at once.</p>
        <div class="price">
            <s>$24.00</s>$19.00
        </div>
    </figcaption><i class="ion-android-cart"></i>
    <a href="#"></a>
</figure>

<figure class="shopping-item hover">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample98.jpg" alt="sample98" />
    <figcaption>
        <h3>Kurie Secco</h3>
        <p>To make a bad day worse, spend it wishing for the impossible.</p>
        <div class="price">
            <s>$29.00</s>$39.00
        </div>
    </figcaption><i class="ion-android-cart"></i>
    <a href="#"></a>
</figure>

<figure class="shopping-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample90.jpg" alt="sample90" />
    <figcaption>
        <h3>Zosaisan Invec</h3>
        <p>Why should I have to work for everything? It's like saying that I don't deserve it.</p>
        <div class="price">
            <s>$35.00</s>$45.00
        </div>
    </figcaption><i class="ion-android-cart"></i>
    <a href="#"></a>
</figure>


<div class="gallery-env">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Album Title
                &nbsp;
                <a href="#" onclick="jQuery('#album-cover-options').modal('show');" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-cog"></i>
                    Edit Album
                </a>
            </h3> <hr> <div class="image-categories">
                <span>Filter Images:</span> <a href="#" class="active" data-filter="all">Show All</a> /
                <a href="#" data-filter="1d">Taken today</a> /
                <a href="#" data-filter="3d">Taken three days ago</a> /
                <a href="#" data-filter="1w">Taken a week ago</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-4" data-tag="1d">


            <article class="image-thumb">
                <a href="#" class="image">
                    <img src="https://demo.neontheme.com/assets/images/album-image-1.jpg">
                </a>
                <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div>
            </article>
        </div> <div class="col-sm-2 col-xs-4" data-tag="3d">


            <article class="image-thumb">
                <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-2.jpg"> </a>
                <div class="image-options">
                    <a href="#" class="edit"><i class="entypo-pencil"></i></a>

                    <a href="#" class="delete"><i class="entypo-cancel"></i></a>
                </div>
            </article>
        </div>

        <div class="col-sm-2 col-xs-4" data-tag="3d">




            <article class="image-thumb">
                <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-3.jpg"> </a>
                <div class="image-options">
                    <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a>
                </div>
            </article>
        </div>

        <div class="col-sm-2 col-xs-4" data-tag="1d">
            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-4.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1d">
            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-5.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="3d">
            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-6.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1w">
            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-7.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-8.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1w">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-9.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1w">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-10.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="3d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-11.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> <div class="col-sm-2 col-xs-4" data-tag="1w">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-12.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> <div class="col-sm-2 col-xs-4" data-tag="1d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-13.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1w">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-14.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="1d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-15.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> 
        <div class="col-sm-2 col-xs-4" data-tag="3d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-16.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div>
        <div class="col-sm-2 col-xs-4" data-tag="1w">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-17.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div> <div class="col-sm-2 col-xs-4" data-tag="1d">

            <article class="image-thumb"> <a href="#" class="image"> <img src="https://demo.neontheme.com/assets/images/album-image-18.jpg"> </a> <div class="image-options"> <a href="#" class="edit"><i class="entypo-pencil"></i></a> <a href="#" class="delete"><i class="entypo-cancel"></i></a> </div> </article>
        </div>
    </div>
</div>