@{
    var filtrosBusqueda = new List<SelectListItem>
            {
                new SelectListItem{ Text="Razon Social", Value="2"  },
                new SelectListItem{ Text="Identificacion", Value="1"  }
            };

}

<div class="modal-lg modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-header-inventory">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar Proveedores</h4>
        </div>

        <div class="modal-body">
            <div class="tile-stats tile-gray">
                <div id="divBuscarProveedores" class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("ConsultarProveedores", "proveedores", FormMethod.Post, new { id = "consultarProveedoresForm" }))
                        {
                            @Html.AntiForgeryToken()
                        <div class="input-group">
                            <div class="input-group-btn">
                                @Html.DropDownList("filtroBusqueda", filtrosBusqueda, new { @class = "btn btn-blue" })
                            </div>

                            @Html.TextBox("textoBusqueda", "", new { @class = "form-control", placeholder = "búsqueda por razón social" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-blue">
                                    <span class="hidden-xs">Buscar</span>
                                    <i class="entypo-search"></i>
                                </button>
                            </span>
                        </div>
                    }
                    </div>
                </div>
            </div>
            <br />
            <div id="divResultadoProveedores">

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
    });

    $("#btnSeleccionarProveedores").click(function () {
        var row = tablaProveedores.row('.selected');
        if (row.length) {
            $("#divConsultaProveedoresModal").modal('hide');
        }
        else {
            toastr.warning("Debe seleccionar un proveedor", "", optionsToastr);
        }
    });

    $("#consultarProveedoresForm").submit(function (event) {
        event.preventDefault();
        var $div = $(this).closest('div');
        $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: $(this).serialize(),
            beforeSend: function () {
                $("#divResultadoProveedores").empty();
                blockUI($div);
                $div.addClass('loading');
            },
            success: function (dataReceived) {

            },
            complete: function () {
                unblockUI($div);
                $div.removeClass('loading');
            }
        }).done(function (respuesta) {
            if (respuesta != "") {
                $("#divResultadoProveedores").html(respuesta);
                $("#tablaProveedores").basicDatatable();
            }
        });
    });

</script>
