 
<div> 
    <form enctype="multipart/form-data" method="post" action="@Url.Action("ReadExcelFile")"
          <h5>Seleccione un archivo para cargar los productos:</h5>
        <input type="file" name="archivo" />
    <button class="btn btn-success" type="submit">Cargar</button>
    </form>
</div>
 